.header {
  height: 70px;
  padding: 0 var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex: 1;
  max-width: 800px;
  margin-left: var(--mantine-spacing-md);
  margin-right: var(--mantine-spacing-md);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
