@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&amp;display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
font-family: 'Manrope', sans-serif;
scroll-behavior: smooth;
}

.dispose-btn[data-disabled] {
  background-color: #37B24D !important; 
  color: white !important;
  cursor: not-allowed;
  opacity: 1;
}
